/* ===== Mobile First ===== */
/* Tampilan dasar untuk mobile */
main section:nth-of-type(2) {
    display: block;
}
main section:nth-of-type(2) article {
    margin-bottom: 1rem;
}
/* Tablet */
@media (min-width: 481px) {
    main section:nth-of-type(2) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }
    main section:nth-of-type(2) h2 {
        grid-column: 1 / -1;
    }
    main section:nth-of-type(2) article {
        margin-bottom: 0;
    }
}
/* Desktop */
@media (min-width: 769px) {
    main section:nth-of-type(2) {
        grid-template-columns: repeat(3, 1fr);
    }
}